<p id="notice"><%= notice %></p>

<h1>To Do</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>State</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @to_do %>
  </tbody>
</table>

<br>

<h1>In Progress</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>State</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
     <%= render @in_progress %>
  </tbody>
</table>

<br>

<h1>Completed</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>State</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
<%= render @completed %>
  </tbody>
</table>

<%= link_to 'New Task', new_task_path %>
