<p id="notice"><%= notice %></p>

<h1>To Do</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>State</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @to_do.each do |task| %>
      <tr>
        <td><%= task.content %></td>
        <td><%= task.state %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to "Mark as In Progress", change_task_path(task, state: "in_progress"), method: :put %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1>In Progress</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>State</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @in_progress.each do |task| %>
      <tr>
        <td><%= task.content %></td>
        <td><%= task.state %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to "Mark as To Do", change_task_path(task, state: "to_do"), method: :put %></td>
        <td><%= link_to "Mark as Completed", change_task_path(task, state: "completed"), method: :put %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h1>Completed</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>State</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @completed.each do |task| %>
      <tr>
        <td><%= task.content %></td>
        <td><%= task.state %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to "Mark as In Progress", change_task_path(task, state: "in_progress"), method: :put %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Task', new_task_path %>
